/* General styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  color: rgb(73, 70, 70);
  padding: 1em;
  text-align: center;
}

/* ESTILOS PARA LA PAGINA CONTACT*/
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-container h1 {
  text-align: center;
  color: #333;
}

.contact-container p {
  text-align: center;
  color: #555;
}

.contact-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 30px;
  text-align: center;
  color: #555;
}

.contact-info h2 {
  margin-bottom: 10px;
  color: #333;
}
/* ESTILOS PARA LA PAGINA CONTACT*/




/* ESTILOS PARA LA PAGINA ABOUT*/

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about-container h1 {
  text-align: center;
  color: #333;
}

.about-container p {
  text-align: justify;
  color: #555;
  line-height: 1.6;
}

.team-section {
  margin-top: 40px;
}

.team-section h2 {
  text-align: center;
  color: #333;
}

.team-member {
  text-align: center;
  margin-top: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h3 {
  margin-top: 10px;
  color: #333;
}

.team-member p {
  color: #777;
}

/* ESTILOS PARA LA PAGINA ABOUT*/





/*ESTILOS PARA LA PAGINA HOME*/
.home-container {
  font-family: Arial, sans-serif;
}

.hero-section {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 60px; /* Ajustar según la altura del header */
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.hero-text h1 {
  font-size: 2.5em;
  margin: 0;
}

.hero-text p {
  font-size: 1.2em;
  margin: 10px 0;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #0056b3;
}

.features-section {
  padding: 40px 20px;
  text-align: center;
  margin-top: 50px; /* Ajustar según la altura del header */

}

.features-section h2 {
  color: #333;
}

.feature {
  margin-top: 60px;
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.feature h3 {
  margin-top: 10px;
  color: #333;
}

.feature p {
  color: #555;
  margin: 10px 0;
}







/*ESTILOS PARA LA PAGINA HOME*/




  /* ESTILOS PARA EL CARRO DE COMPRAS*/
  .car-detail {
    text-align: center;
  }
  
  
  .car-detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .image-container {
    position: relative;
  }
  
  /* .image {
    width: 300px;
    height: auto;
  } */
  
  .add-to-cart-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  
  .car-info {
    max-width: 400px;
    text-align: left;
  }
  
  /* ESTILOS PARA EL CARRO DE COMPRAS*/


 /* ESTILOS PARA LA BARRA INFERIOR DEL HEADER*/   

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
 /* ESTILOS PARA LA BARRA DE BUSQUEDA*/   
.search-bar { 
  position: relative; 
  padding: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make the input field full-width */
}

.search-input:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  outline: none;
}

.search-input::placeholder {
  color: #ccc;
  font-size: 14px;
}

.search-bar i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
}

.search-bar::placeholder {
  color: #ccc; /* Change the placeholder text color */
  font-size: 18px; /* Make the placeholder text smaller */
}
 /* ESTILOS PARA LA BARRA DE BUSQUEDA*/   

 /* ESTILOS PARA EL LOGO*/
.logo-container {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  max-width: 700px; /* Ancho máximo */
  max-height: 100px; /* Alto máximo */
}
 /* ESTILOS PARA EL LOGO*/


  /* ESTILOS PARA LAS IMAGENES DENTRO DE CAR.JS*/
.img-container {
  /* flex: 0 1 auto; */
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.car-item {
  margin: 10px;
  width: calc(33.33% - 20px);

}
  /* ESTILOS PARA LAS IMAGENES DENTRO DE CAR.JS*/

  /* ESTILOS PARA LAS IMAGENES DENTRO DE CARDETAILS*/

  /* ESTILOS PARA LAS INFORMACION DENTRO DE CART.JS*/
.info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  color: #666;
}
.image {
  max-width: 700px; /* Ancho máximo */
  max-height: 650px; /* Alto máximo */}
  
  /* ESTILOS PARA LAS IMAGENES DENTRO DE CART*/

  .image-cart {
  max-width: 300px; /* Ancho máximo */
  max-height: 650px; /* Alto máximo */}

  .img-page {
  /* flex: 0 1 auto; */
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.imagepage {
  max-width: 700px; /* Ancho máximo */
  max-height: 300px; /* Alto máximo */}
/* ESTILOS PARA LAS IMAGENES DENTRO DE CARDETAILS*/

  .title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-bottom {
  background-color: #444;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  position: relative;
  margin-top: auto;
}

/* Add some padding to main content */
main {
  flex: 1;
  padding: 1em;
}
